<?xml version="1.0" encoding="utf-8"?>
<GameSettings xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <LightHack>
    <Enabled>true</Enabled>
  </LightHack>
  <WeatherHack>
    <Enabled>true</Enabled>
  </WeatherHack>
  <ReceivePacketHack>
    <Enabled>true</Enabled>
    <BlockFlash>false</BlockFlash>
    <FastTele>false</FastTele>
    <FastPortal>false</FastPortal>
    <ItemTracker>
      <Enabled>true</Enabled>
      <EnablePickit>true</EnablePickit>
      <UseTelekinesis>false</UseTelekinesis>
      <EnableTelepick>true</EnableTelepick>
      <TeleBack>true</TeleBack>
      <TownPick>true</TownPick>
      <LogRunes>true</LogRunes>
      <LogSets>true</LogSets>
      <LogUniques>false</LogUniques>
      <LogItems>true</LogItems>
      <ReactivatePickit>
        <Key>Decimal</Key>
      </ReactivatePickit>
    </ItemTracker>
  </ReceivePacketHack>
  <ItemNameHack>
    <Enabled>false</Enabled>
    <ShowEth>true</ShowEth>
    <ShowItemLevel>true</ShowItemLevel>
    <ShowItemPrice>true</ShowItemPrice>
    <ShowRuneNumber>true</ShowRuneNumber>
    <ShowSockets>true</ShowSockets>
    <ShowItemCode>true</ShowItemCode>
    <ChangeItemColor>true</ChangeItemColor>
  </ItemNameHack>
  <ViewInventory>
    <Enabled>false</Enabled>
    <ViewInventoryKey>None</ViewInventoryKey>
  </ViewInventory>
  <Infravision>
    <Enabled>true</Enabled>
    <HideCorpses>false</HideCorpses>
    <HideDying>false</HideDying>
    <HideItems>false</HideItems>
  </Infravision>
  <RevealAct>
    <Key>Multiply</Key>
  </RevealAct>
  <OpenStash>
    <Key>Insert</Key>
  </OpenStash>
  <OpenCube>
    <Key>None</Key>
  </OpenCube>
  <FastExit>
    <Key>D5</Key>
  </FastExit>
  <FastPortal>
    <Key>X</Key>
    <GoToTown>true</GoToTown>
  </FastPortal>
  <Chicken>
    <Enabled>false</Enabled>
    <ChickenToTown>false</ChickenToTown>
    <ChickenOnHostile>false</ChickenOnHostile>
    <ChickenLifePercent>0</ChickenLifePercent>
    <ChickenManaPercent>0</ChickenManaPercent>
  </Chicken>
  <AutoteleNext>
    <Key>NumPad1</Key>
  </AutoteleNext>
  <AutoteleMisc>
    <Key>NumPad2</Key>
  </AutoteleMisc>
  <AutoteleWP>
    <Key>NumPad3</Key>
  </AutoteleWP>
  <AutotelePrev>
    <Key>NumPad0</Key>
  </AutotelePrev>
</GameSettings>